page-login {
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    #logo {
        max-width: 80%;
    }
}
