page-devices {
    .scroll-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card {
        max-width: 360px;
        height: 375px;
    }
    .item-inner {
        padding-right: 8px;
    }
    ion-label {
        font-size: 1.6rem;
    }
    ion-icon.right { 
        float: right;
        padding-right: 10px;
        color: map-get($colors, secondary);
    }
    ion-icon.left { 
        float: left;
        padding-left: 0px;
        color: map-get($colors, secondary);
        line-height: 50px;
        font-size: 2.2rem;
        pointer-events: all;
    }
    .range-md .range-bar {
        top: 16px;
        height: 10px;
    }
    .range-md .range-knob-handle {
        display: none;
    }
    .range-md.range-disabled .range-bar-active {
        background-color: map-get($colors, danger);
    }
    button.history {
        padding-right: 0px;
    }
    ion-card-header > div {
        max-width: calc(100% - 60px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    ion-label[name="status"] {
        text-align: right;
    }
}
