// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html, body {
    background-color: map-get($colors, light);
}
.bar-button-default, .toolbar-title {
    color: #fff;
}
.toolbar-background {
    background-color: map-get($colors, secondary);
}
.content {
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
}
.card-md + ion-card {
    margin-top: 10px;
}
.card-header {
    font-weight: 700;
    padding-left: 32px;
}
.item-divider {
    color: map-get($colors, dark);
}
.card p {
    padding: 0px 18px;
}
.item.item .checkbox {
    margin: 9px 9px 9px 4px;
}
ion-slide {
    h2 {
    text-align: left;
    }
    h2.slide-title {
    text-align: center;
    }
    .slide-zoom {
        max-width: 320px;
        margin-top: 80px;
    }
    p {
    color: map-get($colors, dark);
    font-size: 1.4rem;
    }
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}