page-notifications {
    .scroll-content {
        display: flex;
        justify-content: center;
    }
    .card {
        max-width: 360px;
        height: 550px;
    }
    ion-label {
        font-size: 1.4rem;
    }
}
